# {{ ansible_managed }}

ZMOD=$HOME/.config/zsh

# Key Bindings
source $ZMOD/keybindings.zsh

# Alias
source $ZMOD/alias.zsh

# Exports
source $ZMOD/export.zsh

# Functions
source $ZMOD/functions.zsh

# Prompt
source $ZMOD/prompt.zsh

# Python
# source $ZMOD/python.zsh

# Ansible
source $ZMOD/ansible.zsh

# vi keys enable
function zle-line-init zle-keymap-select {
    VIM_PROMPT="%{$fg_bold[yellow]%} [% NORMAL]%  %{$reset_color%}"
    RPS1="${${KEYMAP/vicmd/$VIM_PROMPT}/(main|viins)/} $EPS1"
    zle reset-prompt
}

zle -N zle-line-init
zle -N zle-keymap-select

autoload -U up-line-or-beginning-search
autoload -U down-line-or-beginning-search
zle -N up-line-or-beginning-search
zle -N down-line-or-beginning-search
bindkey "^[[A" up-line-or-beginning-search # Up
bindkey "^[[B" down-line-or-beginning-search # Down
